/*----------------------------------------*/
/*  01. Theme default CSS
/*----------------------------------------*/
// @forward Vendors
@import 'vendors/vendors';

// @forward Utilities
@import 'utilities/utilities';

//@forward Base
@import 'base/base';

// @forward Components
@import 'components/component';


.uppercase {
  text-transform: uppercase;
}

// Responsive Alignment
.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-md-right {
  @include md {
    text-align: right;
  }
}
