/*----------------------------------------*/
/*  26. Footer Area
/*----------------------------------------*/
.footer-widget {
  @include footer-widget(26px, 400, top, 30px); 
  &.border-bottom-1 {
    @include border(bottom, 1px, solid, #E5E5E5);
  }

  li{
    opacity: 0.8;
  }

  h3 {
    @media #{$md} {
      padding-top: 0;
      padding-bottom: 30px;
    }
  }

  .footer-logo {
    margin-bottom: 15px;
  }

  p {
    line-height: 28px;
    margin-bottom: 15px;
  }
}

.footer-item {
  &.pt-50{
    padding-top: 0;
    @include md {
      padding-top: 50px;
    }
  }
}

.contact-number,
.contact-email,
.contact-address {
  li{
    display: inline-block;
    opacity: 0.8;
    margin-bottom: 15px;
    ion-icon {
      font-size: 30px;
      margin-right: 13px;
      top: 0;
    }
  }
}
.contact-address{
  ul{
    display: flex;
  }
}

.footer-bottom{
  padding: 25px 0;
  position: relative;
  span{
    text-align: center; 
    a{
      text-transform: uppercase;
      font-weight: 700;
    }
    @media #{$md}{
      text-align: left;
      display: inline-block;
    }
  }
}

.footer-menu{
  li{
    a{
      font-size: 18px;
      color: $global-color;
      opacity: 0.8;
      padding-bottom: 10px;
      display: block;
      text-transform: capitalize;
      &:hover{
        color: $red;
      }
    }
  }
}

.footer-bottom-menu{
  text-align: left;
  @media #{$md}{
    text-align: right;
  }
  li{
    display: inline-block;
    margin-left: 30px;
    &:hover{
      color: $red;
    }
  }
}
.footer-app{
  li{
    display: inline-block;
    a{
      font-size: 20px;
      padding-left: 15px;
    }
  }
}