// Border Radius
.border-radius-0 {
  border-radius: 0;
}

// Border Top 


// Border Bottom 


// Border Left 

// Border Right 
.border-right-2{
  border-right: 2px solid #000;
}


// Border Radius
.border-radius-2 {
  border-radius: 2px;
}

.border-radius-4 {
  @include border-radius(4px);
}

// Before Border 
.before-border{
  position: relative;
  &::before {
    content: '';
    @include size(1px, 22px);
    background: #4e72a3;
    @include absolute(left 0 top 4px);
  }
}