//Top-Left
.tl-shape{
  top: 0;
  left: 0;
}

//Top-Right
.tr-shape{
  top: 0;
  right: 0;
}

//Top-Left-center
.tlc-shape{
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

//Top-Right-center
.trc-shape{
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

//Bottom Left
.bl-shape{
  bottom: 0;
  left: 0;
}

//Bottom Right
.br-shape {
  bottom: 0;
  right: 0;
}

//Bottom Left 20%
.bl-shape-20{
  bottom: 0;
  left: 20%;
}

//Bottom Right 20%
.br-shape-20{
  bottom: 0;
  right: 20%;
}