// One OWl Carusel Dots 
.owl-dots {
  position: absolute;
  left: 50%;
  bottom: -105px;
  transform: translateX(-50%);
  @media #{$sm}{
    bottom: -80px;
  }
  button {
    position: relative;
    width: 8px;
    height: 8px;
    display: inline-block;
    background: $global-color !important;
    border-radius: 50%;
    margin-left: 15px;
    padding: 5px;

    &.active {
      width: 7px;
      height: 7px;
      &::before {
        position: absolute;
        content: '';
        width: 25px;
        height: 25px;
        top: -9px;
        left: -9px;
        border: 2px solid $global-color;
        border-radius: 50%;
      }
    }
  }
}
.cl-dots{
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  @media #{$desktop}{
    left: 45px;
  }
  button{
    display: block;
    width: 10px;
    height: 10px;
    background: $black;
    border-radius: 50%;
    border: 2px solid $black;
    margin-bottom: 25px;
    padding: 5px;
    &.active{
      background: transparent;
    }
  }
}
.bl-dots{
  position: absolute;
  left: 6%;
  bottom: 80px;
  button {
    position: relative;
    width: 8px;
    height: 8px;
    display: inline-block;
    background: $white;
    border-radius: 50%;
    margin-left: 15px;
    padding: 5px;

    &.active {
      width: 4px;
      height: 4px;
      &::before{
        position: absolute;
        content: '';
        width: 25px;
        height: 25px;
        top: -8px;
        left: -8px;
        border: 2px solid $white;
        border-radius: 50%;
      }
    }
  }
}