// Social Link Horizantal
.social-no-border,
.social-link-h{
    ul{
        margin: 0;
        padding: 0;
        li{
            display: inline-block;
            margin-right: 5px;
        }
    }
}
// Social Link Vertical
.social-link-v{
    ul {
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 10px;
        }
    }
}
// Social Link Horizantal and Border Radius
.social-border,
.social-link-bg {
    ul{
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
        a{
            margin-right: 5px;
            width: 30px;
            height: 30px;
            line-height: 20px;
            display: inline-block;
            color: $global-color;
            padding: 5px;
            background: $white;
            border: 1px solid $white;
            border-radius: 50%;
            @include property;
            text-align: center;
            @media #{$lg} {
                margin-right: 0;
            }
            @media #{$xl} {
                margin-right: 5px;
            }
            &:hover {
                color: $white;
                border: 1px solid $global-color;
            }
        }
    }
}

// Social Background 
.social-bg{
    li{
        display: inline-block;
        margin-right: 10px;
        a{
            width: 42px;
            height: 38px;
            line-height: 38px;
            text-align: center;
            display: inline-block;
            color: $white;
        }
    }
}
// Social Link Horizantal and Border Radius
.social-link-bg{
    li {
        a{
            &:hover {
                background-color: $red;
                color: $white;
                border: transparent;
            }
        }
    }
}

.social-border{
    li{
        a{
            background-color: transparent;
            border: 1px solid $global-color;
        }
    }
}

.social-no-border{
    ul{
        li{
            a{
                width: 45px;
                height: 45px;
                line-height: 45px;
                @include radius(50%);
                color: #575757;
                font-size: 18px;
                @include property;
                display: block;
                text-align: center;
                padding: 3px;
                &:hover{
                    background: $red;
                    color: $white;
                }
            }
        }
    }
}