/*---- 
  Subscribe Form
---------------------------------------------*/
.subscribe-form{
  display: inline-block;
  margin-top: 40px;
  form{
    position: relative;
    input{
      @include radius(40px);
      background: $white;
      border: none; 
      padding: 20px 30px;
      width: 100%;
      box-shadow: 14px 14px 39px 0px rgba(186, 184, 191, 0.56);
      @include lg {
        padding: 40px;
        width: 600px;
        height: 80px;
      }
    }
    button{
      border: none; 
      margin-top: 25px;
      @include lg {
        position: absolute;
        right: 12px;
        top: 12px;
        margin-top: 0;  
      }
    }
  }
}
